<!DOCTYPE html>
<html>
  <head>
    <title>S A M M I E</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bulma.css" />
    <link rel="stylesheet" href="/static/divider.css" />
    <link rel="stylesheet" href="/static/extra.css" />
  </head>
  <body>
    <body>
      <section class="section">
        <div class="container">
          <div class="heading">
            <h1 class="title has-text-light">Sammie C2 Server</h1>
            <h2 class="subtitle has-text-light">
              Made with love and shoddy code
            </h2>
          </div>
          <div class="is-divider"></div>
          {% block body %}{% endblock %}
        </div>
      </section>
    </body>
  </body>
</html>