{% extends "base.jinja" %}
{% block body %}
<div class="columns">
  <div class="column is-full">
    <table class="table">
      <thead>
        <tr>
          <th>Test</th>
          <th>123</th>
          <th>ABC</th>
        </tr>
      </thead>
      <tr>
        <th>123</th>
        <th>testdata</th>
        <th>hi</th>
      </tr>
    </table>
  </div>
</div>
{% endblock %}